- content_for :current_page do
  Edit User
%br
= form_for :posts, url: admin_edit_users_path(:pusername => params[:pusername], :ppassword => params[:ppassword], :padmin => params[:padmin], :id => params[:id]), :method => :put do |f|
  %p
    = f.label :pusername, "Username"
    %br/
    = f.text_field :pusername, :value => params[:pusername]
  %p
    = f.label :ppassword, "Password"
    %br/
    = f.text_field :ppassword, :value => params[:ppassword]
  %p
    = f.label :confirm_password, "confirm_password"
    %br/
    = f.text_field :confirm_password, :value => params[:confirm_password]
  %p
    = f.label :admin, "Admin Privileges?"
    %br/
    = f.check_box :admin, :value => params[:admin]
  %p
    = f.submit "Change"