- if !logged_in? then
  %h2
    %center.daccess
      You don't have access to this page.
- else 

  - content_for :current_page do
    Edit User
  %br
  = form_for :users, url: admin_edit_users_path(:username => params[:username], :password => params[:password], :admin => params[:admin], :id => params[:id]), :method => :put do |f|
    %p
      = f.label :username, "Username"
      %br/
      = f.text_field :username, :value => flash[:username] || params[:username]
    %p
      = f.label :password, "Password"
      %br/
      = f.text_field :password, :value => flash[:password] || params[:password]
    %p
      = f.label :confirm_password, "confirm Password"
      %br/
      = f.text_field :confirm_password
    - if admin? then
      %p
        = f.label :admin, "Admin Privileges?"
        %br/
        - if params[:admin] == 'true' then
          = f.check_box :admin, :value => params[:admin], :checked => 'checked'
        - else
          = f.check_box :admin, :value => params[:admin]
    %p
      = f.submit "Change"
