- if !admin? then
  %h2
    %center.daccess
      You don't have access to this page.
- else 

  - if first_post? && logged_in?
    %h3
      %center
        = link_to "Create First Post", post_path, :class => 'firstup' 

  - content_for :current_page do
    Admin
  %br

    - Post.all.order("updated_at DESC LIMIT 20").each do |post|
      %article.posts
        %p.title
          = post.title
          by
          = post.author

          - if post.author == session[:current_username] || super_admin?
            = link_to 'Delete', posts_path(:id => post.id, :title => post.title), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{post.title}?'"}, class: "dpost"
            = link_to 'Edit', edit_post_path(:id => post.id), class: "pedit"   
          - elsif admin?
            - User.where(username: post.author).each do |user|
              - if user.admin == false && user.superadmin == false
                = link_to 'Delete', posts_path(:id => post.id, :title => post.title), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{post.title}?'"}, class: "dpost"
                = link_to 'Edit', edit_post_path(:id => post.id), class: "pedit"   

      .small= 'posted ' + compare_time(post.created_at)
      %p.content= post.content

      - Comment.where(post_id: post.id).order("created_at DESC LIMIT 15").each do |com|
        %p.comsec
          %b
            = com.user + ':'
          = com.comment
          %b
            - if com.user == session[:current_username] || super_admin?
              = link_to 'Delete', comment_path(com.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete this comment?"}, class: "dcomment"
            - else admin?
              - User.where(username: com.user).each do |user|
                - if user.admin == false && user.superadmin == false
                  = link_to 'Delete', comment_path(com.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete this comment?"}, class: "dcomment"          

      = form_for :com, url: comments_path do |f|
        %p
          = f.label :comment, "Comment", class: 'comment'
          %br/
          = f.hidden_field :post_id, :value => post.id
          = f.text_field :comment, :maxlength => 250
          = f.submit "Comment", class: 'comment button'

