- if !admin? then
  %h2
    %center.daccess
      You don't have access to this page.
- else 

- if first_post? && logged_in?
  %h3
    %center
      = link_to "Create First Post", post_path, :class => 'firstup' 

- content_for :current_page do
  Admin
%br

  - Post.all.order("updated_at DESC LIMIT 20").each do |post|
    %article.posts
      %p.title
        = post.title
        by
        = post.author

        - User.where(username: post.author).limit(1).each do |user|
          - if user.admin == false && user.superadmin == false || super_admin? || post.author == session[:current_username]
            = link_to 'Delete', post_path(:title => post.title, :author => post.author, :content => post.content), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{post.title}?'"}, class: "dpost"
            = link_to 'Edit', edit_post_path(:title => post.title, :author => post.author, :content => post.content, :id => post.id), class: "pedit"   

    .small= compare_time(post.updated_at)
    %p.content= post.content

    - Comment.all.order("created_at DESC LIMIT 15").each do |com|
      - if post.id == com.post_id
        %p.comsec
          %b
            = com.user + ':'
          = com.comment
          - User.where(username: com.user).limit(1).each do |user|
            - if user.admin == false || super_admin? || com.user == session[:current_username]
              = link_to 'Delete', comment_path(:user => com.user, :comment => com.comment, :post_id => com.post_id), :method => :delete, :data => {:confirm => "Are you sure you want to delete this comment?"}, class: "dcomment"

    - if logged_in? then
      = form_for :com, url: comment_path(:post_id => post.id) do |f|
        %p
          = f.label :comment, "Comment", class: 'comment'
          %br/
          = f.text_field :comment
          = f.submit "Comment", class: 'comment button'