- content_for :current_page do
  Users
%br
- User.all.order("id desc LIMIT 10").each do |user|
  %article.user
    %p.title
      Username:
      = user.username
      %br
      Password:
      \#{user.password}
      - if session[:current_user_id].present? && session[:current_username].present? && session[:admin] == true then
        = link_to 'Delete All', admin_users_path(:dusername => user.username, :dpassword => user.password, :dadmin => user.admin, :dtype => 'all'), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{user.username}?' and all their posts?"}, class: "dall"
        = link_to 'Delete', admin_users_path(:dusername => user.username, :dpassword => user.password, :dadmin => user.admin, :dtype => 'user'), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{user.username}?'"}, class: "dpost"
        = link_to 'Edit', admin_edit_users_path(:pusername => user.username, :ppassword => user.password, :padmin => user.admin, :id => user.id), class: "pedit"
    - Post.where(author: user.username).each do |post|  
      %h3
        = post.title
        = link_to 'Delete', post_path(:dtitle => post.title, :dauthor => post.author, :dcontent => post.content), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{post.title}?'"}, class: "user_dpost"
      = post.content
      %br
      %br