- if !admin? then
  %h2
    %center.daccess
      You don't have access to this page.
- else 

  - content_for :current_page do
    Users
  %br

    - Request.all.order("created_at DESC LIMIT 1").each do |request|
      - if request.status == false then
        %center
          The user
          %b
            = request.username
          requested to be an administrator
          = compare_time(request.created_at)
          %br
          %br
          = link_to 'Yes', admin_users_path(:username => request.username, :password => request.password, :id => request.id), :method => :update, class: "request"
          = link_to 'No', admin_users_path(:username => request.username, :password => request.password, :id => request.id), :method => :delete, class: "request"
          %br
          %br
          %br

  - User.all.order("id desc LIMIT 50").each do |user|
    %article.user
      %p.title
        Username:
        = user.username
        %br

        - if user.admin != true || super_admin?
          Password:
          =user.password
          - if admin? || super_admin? then
            = link_to 'Delete All', delete_users_path(:dusername => user.username, :dpassword => user.password, :dadmin => user.admin, :dtype => 'all'), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{user.username}?' and all their posts and comments?"}, class: "dall"
            = link_to 'Delete', delete_users_path(:dusername => user.username, :dpassword => user.password, :dadmin => user.admin, :dtype => 'user'), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{user.username}?'"}, class: "dpost"
            = link_to 'Edit', admin_edit_users_path(:username => user.username, :password => user.password, :admin => user.admin, :id => user.id), class: "pedit"

      - Post.where(author: user.username).each do |post|  
        %h3
          %p.utitle= post.title
        .small= compare_time(post.updated_at)    
        %p.ucontent= post.content
        %p.numcom
          This post has
          %b
            = Comment.where(post_id: post.id).count
          comments
        %br