- if !logged_in? then
  %h2
    %center.daccess
      You don't have access to this page.
- else 

  - content_for :current_page do
    Edit User
  %br
  = form_for :user, url: user_path(params[:id]), :method => :put do |f|
    %p
      = f.label :username, "Username"
      %br/
      = f.text_field :username, :maxlength => 12, :value => flash[:username] || @user.username
    %p
      = f.label :password, "Password"
      %br/
      = f.text_field :password, :maxlength => 20, :value => flash[:password] || @user.password
      
    - if !admin? then
      %p
        = f.label :password_confirmation, "confirm Password"
        %br/
        = f.text_field :password_confirmation, :maxlength => 20

    - if admin? && @user.username != session[:current_username] then
      %p
        = f.label :admin, "Admin Privileges?"
        %br/
        - if params[:admin] == 'true' then
          = f.check_box :admin, :value => flash[:admin], :checked => 'checked'
        - else
          = f.check_box :admin, :value => flash[:admin]
    %p
      = f.submit "Change"
