- content_for :current_page do
  Home
%br

- if first_user?
  %h3
    %center
      = link_to "Setup Up Account as Admin", new_user_path, :class => 'firstup'

- if first_post? && logged_in? then
  %h3
    %center
      = link_to "Create First Post", posts_path, :class => 'firstup' 

- Post.all.order("updated_at DESC LIMIT 20").each do |post|
  %article.posts
    %p.title
      = post.title
      by
      = post.author

      - if logged_in? then
        - if post.author == cookies.signed[:current_username] then
          = link_to 'Delete', post_path(post.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{post.title}?'"}, class: "dpost"
          = link_to 'Edit', edit_post_path(post.id), class: "pedit"
          
  .small= 'posted ' + compare_time(post.created_at)
  %p.content= post.content

  - Comment.all.order("created_at DESC LIMIT 15").each do |com|
    - if post.id == com.post_id
      %p.comsec
        %b
          = com.user + ':'
        = com.comment
        %b
          - if com.user == cookies.signed[:current_username]
            = link_to 'Delete', comment_path(com.id), :method => :delete, :data => {:confirm => "Are you sure you want to delete this comment?"}, class: "dcomment"

  - if logged_in? then
    = form_for :com, url: comments_path do |f|
      %p
        = f.label :comment, "Comment", class: 'comment'
        %br/
        = f.hidden_field :post_id, :value => post.id
        = f.text_field :comment, :maxlength => 250
        = f.submit "Comment", class: 'comment button'