- content_for :current_page do
  Home
%br
- Post.all.order("id desc LIMIT 10").each do |post|
  %article.posts
    %p.title
      = post.title
      by
      \#{post.author}
      - if session[:current_user_id].present? && session[:current_username].present? then
        - if post.author == session[:current_username] then
          = link_to 'Delete', post_path(:title => post.title, :author => post.author, :content => post.content), :method => :delete, :data => {:confirm => "Are you sure you want to delete '#{post.title}?'"}, class: "dpost"
          = link_to 'Edit', edit_post_path(:title => post.title, :author => post.author, :content => post.content, :id => post.id), class: "pedit"       
    %p.content= post.content