- content_for :current_page do
  Login
%br

= form_for :login, url: login_path do |f|
  %p
    = f.label :username, "Username"
    %br/
    = f.text_field :username, :value => flash[:username]
  %p
    = f.label :password, "Password"
    %br/
    = f.password_field :password, :value => flash[:password]
  %p
    = f.submit "Login"
%br/
= link_to "Don't have an account? Sign up now!", signup_path