- if admin? then
  %h2
    %center.daccess
      You don't have access to this page.
- else 

  - content_for :current_page do
    SignUp
  %br/

  = form_for @signup_user do |f|
    %p
      = f.label :username, "Username"
      %br/
      = f.text_field :username, :maxlength => 12, :value => flash[:username]
    %p
      = f.label :password, "Password"
      %br/
      = f.text_field :password, :maxlength => 20, :value => flash[:password]
    %p
      = f.label :password_confirmation, "Comfirm Password"
      %br/
      = f.text_field :password_confirmation, :maxlength => 20
    %p
      = f.submit "Sign Up"