<% if session[:current_user_id].present? && session[:current_username].present? then  %>
<% controller.redirect_to :home %>
<% else %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>

<header>
  <h1>xBlog</h1>
<nav>
    <%= link_to 'Home', home_path %>
    <%= link_to 'Login', login_path %>
    <div class="it"><%= link_to 'Sign Up', signup_path %></div>
</nav>
</header>


<section>

<%if flash[:error].present? %>
<% flash.each do |error,msg| %>
<%= content_tag :div, msg, class: "error_msg" %>
<% end %>
<% end %>

<h2>Sign Up</h2>
<%= form_for :users, url: users_path do |f| %>
  <p>
    <%= f.label :username, "Username" %><br>
    <%= f.text_field :username, :value => flash[:username] %>
  </p>
 
  <p>
    <%= f.label :password, "Password" %><br>
    <%= f.text_field :password %>
  </p>

   <p>
    <%= f.label :confim_password, "Comfirm Password" %><br>
    <%= f.text_field :confirm_password  %>
  </p>
  
 <% if false %>
   <p>
   <% gcode = [*('a'..'z'),*('0'..'9')].shuffle[0,4].join.upcase %>
    <%= content_tag :div, gcode, class: "code" %>
    <%= hidden_field(:verifycode, :value => gcode) %>
    <%= f.label :code, "Please Enter Security Key" %><br>
    <%= f.text_field :code  %>
  </p>
  <% end %>

  <p>
    <%= f.submit "Sign Up" %>
  </p>
<% end %>
</section>


<footer>
barlowat@ORNL.gov 
</footer>

  </body>
</html>
<% end %>