<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>

<header>
  <h1>xBlog</h1>
<nav>
    <%= link_to 'Home', welcome_index_path %>
    <div class="it"><%= link_to 'Login', welcome_login_path %></div>
    <%= link_to 'Sign Up', welcome_signup_path %>
    <%= link_to 'Logout', welcome_logout_path %>

</nav>
</header>


<section>
<h2>Login</h2>
<%= form_for :users, url: users_path do |f| %>
  <p>
    <%= f.label :username, "Username" %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :password, "Password" %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit "Login" %>
  </p>
<% end %>
<br />
<%= link_to "Don't have an account? Sign up now!", welcome_signup_path %>
</section>


<footer>
barlowat@ORNL.gov 
</footer>

  </body>
</html>