<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>

<header>
	<h1>xBlog</h1>
<nav>
	<a href="login" class="login">Login</a>
	<a href="logout" class="logout">Logout</a>

</nav>
</header>


<section>
<%= link_to 'My Blog', controller: 'articles' %>


<%= form_for :article, url: articles_path do |f| %>
<%= link_to 'New article', new_article_path %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</section>


<footer>
barlowat@ORNL.gov 
</footer>

  </body>
</html>