- content_for :current_page do
  Edit Post
%br
= form_for :posts, url: edit_post_path(:ptitle => params[:ptitle], :pauthor => session[:current_username], :pcontent => params[:pcontent], :id => params[:id]), :method => :put do |f|
  %p
    = f.label :ptitle, "Title"
    %br/
    = f.text_field :ptitle, :value => params[:ptitle]
  %p
    = f.label :pauthor, "Author"
    %br/
    = f.text_field :pauthor, :readonly => true, :value => session[:current_username]
  %p
    = f.label :pcontent, "Post"
    %br/
    = f.text_area :pcontent, :value => params[:pcontent]
  %p
    = f.submit "Post"