%section
  %h2 Edit Post
  - if flash[:error].present?
    = content_tag :div, flash[:error], class: "error_msg"
  = form_for :edit_post, url: edit_post_path, :method => :patch do |f|
    %p
      = f.label :title, "Title"
      %br/
      = f.text_field :title, :value => params[:dtitle]
    %p
      = f.label :author, "Author"
      %br/
      - if flash[:author].present?
        = f.text_field :author, :readonly => true, :value => flash[:author]
      - else
        = f.text_field :author, :readonly => true, :value => session[:current_username]
    %p
      = f.label :content, "Post"
      %br/
      = f.text_area :content, :value => params[:dcontent]
    %p
      = f.submit "Post"