%section
  %h2 Edit Post
  - if flash[:error].present?
    = content_tag :div, flash[:error], class: "error_msg"
  = form_for :posts, url: edit_post_path, :method => :put do |f|
    %p
      = f.label :title, "Title"
      %br/
    - if flash[:pitle].present?
      = f.text_field :ptitle, :value => flash[:ptitle]
    - else
      = f.text_field :ptitle, :value => params[:ptitle]
    %p
      = f.label :author, "Author"
      %br/
      - if flash[:pauthor].present?
        = f.text_field :author, :readonly => true, :value => flash[:pauthor]
      - else
        = f.text_field :author, :readonly => true, :value => session[:current_username]
    %p
      = f.label :content, "Post"
      %br/
    - if flash[:pcontent].present?
      = f.text_area :content, :value => flash[:pcontent]
    - else
      = f.text_area :content, :value => params[:pcontent]
    %p
      = f.submit "Post"