- if !logged_in? then
  %h2
    %center.daccess
      You don't have access to this page.

- else 
  - content_for :current_page do
    Post
  %br

  = form_for @post do |f|
    %p
      = f.label :title, "Title"
      %br/
      = f.text_field :title, :maxlength => 40, :value => flash[:title]
    %p
      = f.label :author, "Author"
      %br/
      = f.text_field :author, :maxlength => 12, :readonly => true, :value => cookies.signed[:current_username]
    %p
      = f.label :content, "Post"
      %br/
      = f.text_area :content, :maxlength => 1500, :value => flash[:content]
    %p
      = f.submit "Post"