<section>
<h2>Post</h2>

<%if flash[:error].present? %>
<%= content_tag :div, flash[:error], class: "error_msg" %>
<% end %>

<%= form_for :posts, url: post_path do |f| %>
  <p>

    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title, :value => flash[:title] %>
  </p>
 
  <p>
    <%= f.label :author, "Author" %><br>
    <%if flash[:author].present? %>
    <%= f.text_field :author, :readonly => true, :value => flash[:author] %>
    <% else %>
    <%= f.text_field :author, :readonly => true, :value => session[:current_username] %>
    <% end %>
  </p>

   <p>
    <%= f.label :content, "Post" %><br>
    <%= f.text_area :content, :value => flash[:content]  %>
  </p>
 
  <p>
    <%= f.submit "Post" %>
  </p>
<% end %>
</section>