!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title= yield :current_page
    %link{:href => "style.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "script.js"}
  %body
    %header
      %h1 xBlog
      %nav
        - if session[:current_user_id].present? && session[:current_username].present? then
          = link_to 'Home', home_path, :class => ("it" unless !current_page?(:home))
          = link_to 'Post', post_path, :class => ("it" unless !current_page?(:post))
          = link_to 'Logout', logout_path, :method => :delete, :class => ("it" unless !current_page?(:logout))
        - else
          = link_to 'Home', home_path, :class => ("it" unless !current_page?(:home))
          = link_to 'Login', login_path, :class => ("it" unless !current_page?(:login))
          = link_to 'Sign Up', signup_path, :class => ("it" unless !current_page?(:signup))
    %section
      %h2= yield :current_page
      - if !params[:errors].nil?
        - params[:errors].each do |msg|
          = content_tag :div, msg, class: "error_msg"
      - if flash[:errors].present?
        = content_tag :div, flash[:errors], class: "error_msg"
      = yield
    %footer
      barlowat@ORNL.gov
%html
  %p
    I am located in application.html.haml:
    %br/
    = debug(params) if Rails.env.development?

    