!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title= yield :current_page
    %link{:href => "style.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "main.js"}
    -# %script{:src => "http://code.jquery.com/jquery-latest.min.js"}
  %body
    %header
      %h1 

        - if admin? then
          = link_to 'xBlog', admin_home_path, :class => 'xBlog'
        - else
          = link_to 'xBlog', root_path, :class => 'xBlog'

      %nav
        - if admin? then
          = link_to 'Home', admin_home_path, :class => ("it" unless !current_page?(:admin_home))
          = link_to 'Users', admin_users_path, :class => ("it" if current_page?(:admin_users))
          = link_to 'Post', new_post_path, :class => ("it" if current_page?(:new_post) || current_page?(edit_post_path(params[:id] || session[:current_user_id])))
          = link_to 'Logout', logout_path, :method => :delete
        - elsif logged_in? then
          = link_to 'Home', root_path, :class => ("it" unless !current_page?(:root))
          = link_to 'Post', new_post_path, :class => ("it" if current_page?(:new_post) || current_page?(edit_post_path(params[:id] || session[:current_user_id])))
          = link_to 'Logout', logout_path, :method => :delete
        - else
          = link_to 'Home', root_path, :class => ("it" if current_page?(:root))
          = link_to 'Login', login_path, :class => ("it" unless !current_page?(:login))
          = link_to 'Sign Up', new_user_path, :class => ("it" unless !current_page?(:new_user))

    %section
      %h2
        -# Title of current page
        = yield :current_page
        
        - if logged_in? then
          - if current_page?(account_user_path(session[:current_user_id])) then
            = link_to 'Account', account_user_path(session[:current_user_id]), :class => 'cur_account'
          -else
            = link_to 'Account', account_user_path(session[:current_user_id]), :class => 'account'
        - else
        
      -# Display error messages
      - if !flash[:errors].nil? then
        - flash[:errors].each do |msg|
          = content_tag :div, msg, class: "error_msg"

      - if !flash[:error].nil? then
        = content_tag :div, flash[:error], class: "error_msg"

      -# Display content and footer
      = yield
    %footer
      barlowat@ORNL.gov
    
